@model Q_Manage.Models.ApplicationUser

@{
    ViewData["Title"] = "Editar Usuario";
}

<h2>Editar Usuario</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    @if (User.IsInRole("Admin"))
    {
        <div class="form-group">
            <label asp-for="Email">Correo Electrónico</label>
            <input asp-for="Email" class="form-control" required id="emailInput" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    }
    @if (User.IsInRole("User"))
    {
        <div class="form-group">
            <label asp-for="Email">Correo Electrónico</label>
        <input asp-for="Email" class="form-control" readonly id="emailInput" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>}

    <div class="form-group">
      
        <input type="hidden" asp-for="UserName" class="form-control" readonly id="usernameInput" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Correo Electrónico Confirmado</label>
        <div>
           
            <label>
                <input type="radio" name="emailConfi" value="true" @(Model.EmailConfirmed ? "checked" : "") /> Sí
            </label>
            <label class="ms-3">
                <input type="radio" name="emailConfi" value="false" @(!Model.EmailConfirmed ? "checked" : "") /> No
            </label>
        </div>
        <span asp-validation-for="EmailConfirmed" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label for="phoneInput">Teléfono</label>       
        <input asp-for="PhoneNumber" name="phone" class="form-control"  id="phoneInput" />
    </div>

    @if (User.IsInRole("Admin"))
    {
        <div class="form-group">
            <label>Roles</label>
            <select name="selectedRoles" class="form-control" multiple>
                @foreach (var role in ViewData["Roles"] as List<SelectListItem>)
                {
                    <option value="@role.Value" selected="@role.Selected">@role.Text</option>
                }
            </select>
        </div>
    }
    <br />
    <br />
    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>

@section Scripts {
    <script>
        document.getElementById('emailInput').addEventListener('input', function() {
            document.getElementById('usernameInput').value = this.value;
        });
    </script>
}