@model IEnumerable<Q_Manage.Models.ApplicationUser>

@{
    ViewData["Title"] = "Usuarios";
}
@{
    var proyectosUsuari = ViewData["ProyectosUsuarios"] as List<string>;
    var proyectosUsuarios = ViewData["ProyectosUsuarios"] as Dictionary<string, List<string>>;
}
<h2>Lista de Usuarios</h2>
@if (User.IsInRole("Admin"))
{
    <a asp-action="Create" class="btn btn-primary">Nuevo Usuario</a>
}
<table class="table">
    <thead>
        <tr>
            <th>Usuario</th>            
            <th>Teléfono</th>
            <th>Proyectos</th>
            @if (User.IsInRole("Admin"))
            {
                <th>Acciones</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model)
        {
            <tr>
                <td>@usuario.UserName</td>
                <td>@usuario.PhoneNumber</td>
                @if (User.IsInRole("Admin"))
                {
                <td>
                    @if (proyectosUsuarios != null && proyectosUsuarios.ContainsKey(usuario.Id) && proyectosUsuarios[usuario.Id].Any())
                    {
                        <ul>
                            @foreach (var proyecto in proyectosUsuarios[usuario.Id])
                            {
                                <li>@proyecto</li>
                            }
                        </ul>
                    }
                    else
                    {
                        <p>No hay proyectos asignados.</p>
                    }
                </td>}
                <td>
                    @if (proyectosUsuari != null && proyectosUsuari.Any())
                    {
                        <ul>
                            @foreach (var proyecto in proyectosUsuari)
                            {
                                <li>@proyecto</li>
                            }
                        </ul>
                    }
                    else
                    {
                        <p>No hay proyectos asignados.</p>
                    }

                </td>
               
                    <td>

                    <a asp-action="Edit" asp-route-id="@usuario.Id" class="btn btn-warning">Editar</a>
                    @if (User.IsInRole("Admin"))
                    {
                    <a asp-action="Delete" asp-route-id="@usuario.Id" class="btn btn-danger">Eliminar</a>
                    }
                </td>
               
            </tr>
        }
    </tbody>
</table>
